{% extends 'index.html' %}
{% block content %}
    <Title>Tasks</Title>
{% endblock %}
{% block body %}
<h2>Task list</h2>

<table>
    <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Created</th>
        <th>Deadline</th>
        <th>Done</th>
        <th>Options</th>
    </tr>
{% for task in tasks %}
<tr>
    <th>{{ task.title }}</th>
    <th>{{ task.description }}</th>
    <th>{{ task.created }}</th>
    <th>{{ task.deadline }}</th>
    <th>{{ task.done }}</th>
    <th>
    <form action="{% url 'delete_task' %}" method="post">
    {% csrf_token %}
        <label for="{{ task.id }}">

                <input type="hidden" name="id" value="{{ task.id }}">
                <input type="submit" value="Delete"><br>

        </label>
    </form>
        <form action="{% url 'edit_task' task.id %}">
            <label for="{{ task }}">
                    <input type="submit" value="Edit">
            </label>
        </form>
    </th>
</tr>
{% endfor %}
</table>
   <li><a class="button" href="{% url 'add_task' %}">add new task</a></li>
{% endblock %}