{% extends 'index.html' %}
{% block content %}
    <Title>Tasks</Title>
{% endblock %}
{% block body %}
<h2>Task list</h2>

<table>
  <tr>
    <th>Task</th>
    <th>Description</th>
    <th>Created</th>
    <th>Deadline</th>
    <th>done</th>
  </tr>
{% for task in tasks %}
<tr>
        <th>{{ task.title }}</th>
        <th>{{ task.description }}</th>
        <th>{{ task.created }}</th>
        <th>{{ task.deadline }}</th>
        <th>{{ task.done }}</th>
</tr>
{% endfor %}
</table>
   <li><a class="button" href="{% url 'add_task' %}">add new task</a></li>
{% endblock %}